<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <img src="/assets/img/logo-white.png">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="intro-text">
                    <h3>Deseja vender ou alugar seu imóvel ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a [routerLink]="['/cadastro']" class="btn btn-md sn">
                    Cadastre seu Imóvel
                </a>
            </div>
        </div>
    </div>
</div>