.container{
    margin-top: 40px !important;    
    margin-bottom: 40px !important;
}
.btn-border {
    color: #909068;
    border: solid 1px #909068;
}
.btn-border:hover {
    color: #ffffff;
    background-color: #909068;
    border: solid 1px #909068;
}