<app-banner titulo="institucional"></app-banner>
<div class="container">
    <h2> Silico Imóveis</h2>

    <p>
        No intuito de trazer uma administração inovadora, excelência na prestação de serviços e nos princípios
        básicos de seriedade,
        solidez, segurança e empreendedorismo que oferecem à Silico Imóveis a reputação e a
        confiabilidade do mercado, assim fazendo parte do desenvolvimento da nossa cidade.
        Com a extrema determinação, sem nunca abalar a solidez, Silico Imóveis, garante a seus clientes a realização dos
        melhores negócios imobiliários,
        com iniciativas pioneiras, visando a modernidade e a liderança no segmento imobiliário.
        Quem procura comprar, vender, alugar ou avaliar um imovel, encontra muito mais do que isso negociando com Solano
        Imóveis.
        Encontra orientação segura, propostas sólidas, um atendimento impecável, que credenciam Solano Imóveis como uma
        das empresas mais confiáveis e tradicionais do mercado imobiliário.
    </p>
    
    <h2>Missão</h2>
    <p>

        Excelência no atendimento com comprometimento, qualidade e modernidade, compreendendo profundamente as
        necessidades e 
        expectativas dos clientes, garantindo as melhores ofertas e bom custo/benefício em todos os segmentos do
        mercado.
    </p>



    <h2>Visão</h2>

    <p>
        
        Ser reconhecida como a principal empresa, em expansão comercial de negócios imobiliários e empresa líder do
        mercado imobiliário residencial, comercial e lançamentos.
        Ser reconhecida como referência, na busca pelo aprimoramento do mercado imobiliário e de excelência nos serviços
        prestados aos clientes vendedores e compradores de imóveis.
        Facilitar negócios de forma inovadora e manter o relacionamento positivo junto aos clientes.
        Valorizar o Corretor de Imóveis com treinamento e orientações realizados por profissionais experientes e com o
        uso das nossas ferramentas de gestão, desenvolvendo um perfil diferenciado no mercado imobiliário e por
        consequência valorizar a profissão.
        Preservar e expandir o relacionamento conquistado com seus clientes, aperfeiçoando e reciclando constantemente
        os serviços prestados de maneira que isto gere mais valor a todos os envolvidos, clientes internos e
        externos.


    </p>

</div>